* {
margin : 0;
padding : 0;
}
body {
padding-top : 0;
font : 20px "Trebuchet MS", verdana, arial, sans-serif;
background : #333;
color : #000;
}


			/*WRAP*/
#wrapper {
width : 100%
margin : 0 auto;
background : url("backgrounds/background-darkened.jpg");
background-size : contain;
background-attachment : fixed;
color : white;
}




			/*HEADER*/
#header {
width : 100%;
height : auto;
margin : 0;
background-image : url("index/headerimage.jpg");
color : #666;
}
#banner {
width : 100%;
height : 120px;
margin : 0;
padding : 0;
border-bottom : 1px solid #fff;
background-image : url("index/banner.png"); : #369;
background-repeat: repeat;
background-size : cover;
}



				/*MAIN MENU*/
#mainmenu {
width : 100%;
border-top : 2px solid #4F7942;
border-bottom : 2px solid #4F7942;
background-color : #AFE1AF;
}
#mainmenu li {
display : inline-block;
padding : 5px;
margin : 10px;
color : black;
}
#mainmenu a {
text-decoration : none;
color : black;
}
#mainmenu a:hover {
border : 2px solid #0000CD;
padding : 5px;
cursor : pointer;
}
#mainmenu a.this-page {
border-bottom : 3px solid #4F7942;
font-weight : bold;
}








					/*CONTENT*/
#content {
width : 100%;
margin : 0;
line-height : 1.8em;
}

#home-title-box {
width : 70%;
height : auto;
margin : 20px auto 50px auto;
}
#home-title-box p {
font-size : 18px;
color : white;
}


#about table {
display : block;
max-width : 80%;
margin-left : auto;
margin-right : auto;
}
#about td {
text-align : center;
color : white;
font-size : 16px;
}
#about p {
padding : 5px 60px;
color : white;
}
a.investors-link {
display : block;
width : 400px;
margin : 20px;
padding : 5px;
color : white;
text-decoration : none;
font-weight : bold;
background-color : #800020;
border : 1px solid red;
border-radius : 10px;
}
a.investors-link:hover {
background : #800020;
color : white;
border : 3px solid white;
outline : 3px solid #800020;
}

#index-div-box ul {
width : 100%;
padding : 5%;
}
#index-div-box li {
display : inline-block;
float : left;
width : 450px;
height : 350px;
background : #000015;
border : 1px solid white;
border-radius : 5px;
margin : 20px;
}
#index-div-box h4 {
color : white;
margin-left : 10px;
}
#index-div-box p {
color : white;
}
#index-div-box img {
display : block;
margin-left : auto;
margin-right : auto;
}

#interesting-banner ul {
width : 100%;
}
#interesting-banner li {
display : inline-block;
float : left;
width : 430px;
height : 300px;
margin : 20px;
background : none;
border : none;
}
#interesting-banner h4 {
color : white;
}
#interesting-banner p {
color : white;
}
#interesting-banner a {
display : inline-block;
width : auto;
padding : 5px 20px;
color : white;;
text-decoration : none;
float : left;
margin : 5px;
background : #800020;
border : 1px solid red;
}



#legal-intro {
display : block;
width : 60%;
height : auto;
margin : 40px auto 40px auto;
}
#legal-intro img {
border : 3px solid red;
border-radius : 10px;
}

#legal-content {
display : block;
width : 100%;
}
#legal-content h4 {
margin : 40px 100px 5px 0;
}

#legal-div-box {
display : inline-block;
float : left;
width : 450px;
height : auto;
background : #000015;
margin : 20px;
border : 1px solid white;
border-radius : 5px;
}
#legal-div-box h4 {
color : white;
margin : 10px;
}
#legal-div-box p {
color : white;
}

#event-box {
width : 20%;
margin : 20px;
diplay : inline-block;
float : left;
background-color : white;
border : 1px solid #4F7942;
border-radius : 5px;
}
#event-box th {
background-color : #4F7942;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
color : white;
margin : 3px;
font-align : center;
}

#strategy-div-box {
display : inline-block;
float : left;
width : 450px;
height : 320px;
background : #000015;
margin : 20px;
border : 1px solid white;
border-radius : 5px;
}
#strategy-div-box h4 {
color : white;
margin : 10px;
}
#strategy-div-box p {
color : white;
}

#principles {
display : block;
width : 70%;
margin-left : 5%;
}
#principles p {
color : white;
}

#country {
display : block;
width : 80%;
height : auto;
margin : 40px auto;
padding-bottom : 100px;
background-color : #000015;
border-top : 3px solid red;
border-bottom : 3px solid red;
}
#country h4 {
color : white;
margin : 20px;
}
#country p {
color : white;
}
#country img {
margin : 10px 30px 10px 10px;
}
#country a {
display : inline-block;
width : auto;
padding : 5px 20px;
color : white;
text-decoration : none;
float : left;
margin : 10px;
background : #800020;
border : 1px solid red;
}
#country a:hover {
cursor : pointer;
}







					/*FOOTER*/
#footer {
clear : both;
width : 100%;
padding-left : 5px;
color : white;
border-top : 5px solid black;
background : #696969;
}
#footer p {
color : black;
}







			/*TYPOGRAPHY*/
p {
margin : 10px 20px 10px 15px;
color : #666;
background-color : inherit;
}
h1 {
margin : 0;
padding : 20px;
font-size : 300%;
letter-spacing : 5px;
color : black;
background : inherit;
}
h2 {
margin : 20px;
padding : 10px;
font-size : 150%;
letter-spacing : 1px;
color : black;
text-decoration : underline;
clear : both;
}
h3 {
margin : 30px 50px 10px 30px;
text-transform : uppercase;
font-size : 32px;
color : white;
}
h4 {
padding : 0 0 0px 0px;
letter-spacing : 2px;
font-size : 120%;
clear : both;
}
h5 {
margin : 5px 50px 50px 30px;
padding : 0;
font-size : 20px;;
background : inherit;
}
blockquote {
margin : 10px 20px 10px 15px;
font-weight : bold;
font-style : italic;
color : #b29b35;
}




			/*CLASS*/


.img {
margin : 0 0 10px 0;
}

.
			/*LINKS*/
a, a:visited {
text-decoration : none;
color : #369;
background : inherit;
}
a:hover {
color : #333;
background : inherit;
}
a img {
border : none;
}


}
